.chips {
cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: var(--ACCENT-COLOR-LIGHT);
    border-radius: 25px;
    font-size: 16px;
}
.chips:focus{
    background-color: black;
    color:white;
}